.card {
  width: 331px;

  background-color: #000;

  color: #fff;

  border-radius: 15px;
  margin: 5px;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 500px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  padding: 15px;
  height: 80px;
}

.card-title {
}

.card-text {
  display: flex;
  justify-content: space-between;
}

p.card-price {
  font-size: 2.5rem;
}

/* .card {
  height: 100%;
  min-width: 350px;
  align-content: center;
  font-family: Ubuntu;
  background-color: #000;

  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

img {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  object-fit: cover;

  border-top-left-radius: 15px;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 5px;

  background-color: black;
  color: #fff;
  border-bottom-right-radius: 15px;
  height: 100px;
}

.game-title {
  margin-top: 5px;
  color: #bbb;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-content: center;

  color: #999;
} */

@media screen and (width<682px) {
  .card {
    width: 80vw;
  }
}
