.menubar {
  color: #000;
  background-color: #fff;
  font-family: Ubuntu;
}

.menubar a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.logo {
  height: 28px;
  width: auto;

  padding: 5px 15px;
}

.menubar ul {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.menuitem {
  font-size: 1rem;
  padding: 13px 10px;
}

.maozinha {
  cursor: pointer;
}

@media screen and (width<645px) {
  .menubar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .menubar .logo {
    height: auto;
    width: 50%;
    margin: 0px auto;
  }

  ul,
  li {
    text-align: center;
    margin: 0px auto;
  }
}
